.test {
  color: red;
}

a:visited {
  color: inherit;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.title h2 {
  margin-top: 40px;
  border-bottom: 5px solid#dcdcdc;
}

.title span {
  display: inline-block;
  margin-bottom: -5px;
  border-bottom: 5px solid #8fbc8f;
}